<div class="container alert-primary ">

    <nav class="navbar navbar-default">
        <ul class="nav  nav-tabs navbar-center">
            <li class="nav-itema"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="home" class="nav-link">Home</a></li>
            <li class="nav-itema"><a routerLinkActive="active" routerLink="/about" class="nav-link">About Us</a></li>
            <li class="nav-itema"><a routerLinkActive="active" routerLink="/product" class="nav-link">Products</a></li>
            <li class="nav-itema"><a routerLinkActive="active" routerLink="/contact" class="nav-link">Contact us</a></li>
            <li class="nav-itema"><a routerLinkActive="active" routerLink="/by-product" class="nav-link">By-Product</a></li>

        </ul>
    </nav>

</div>